
<%= simple_form_for(@counter_service) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :counter_schedule %>
    <%= f.association :counter_service_type %>
    <%= f.association :counter_document %>
    <%= f.input :user_description %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
