<p id="notice"><%= notice %></p>

<h1>Counter Documents</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Carrier</th>
      <th>Carrier client</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @counter_documents.each do |counter_document| %>
      <tr>
        <td><%= counter_document.number %></td>
        <td><%= counter_document.carrier.name %></td>
        <td><%= counter_document.carrier_client.name %></td>
        <td><%= link_to 'Show', counter_document %></td>
        <td><%= link_to 'Edit', edit_counter_document_path(counter_document) %></td>
        <td><%= link_to 'Destroy', counter_document, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Counter Document', new_counter_document_path %>
