<p id="notice"><%= notice %></p>

<h1>Carrier Clients</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @carrier_clients.each do |carrier_client| %>
      <tr>
        <td><%= carrier_client.name %></td>
        <td><%= link_to 'Show', carrier_client %></td>
        <td><%= link_to 'Edit', edit_carrier_client_path(carrier_client) %></td>
        <td><%= link_to 'Destroy', carrier_client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Carrier Client', new_carrier_client_path %>
